# Nenana Ice Classic Data Gathering - Weather Data
This notebook was used for gathering the weather data used for this project.
## Data Source
* Weather information <a href = https://darksky.net/poweredby/>Powered By DarkSky</a>

In [1]:
# imports
import numpy as np
import pandas as pd
import requests
import json
import datetime as dt
import gc

In [2]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

keys = get_keys("/Users/davidwalkup/.secret/api_keys.json")
api_key = keys['darksky_api_key']

In [3]:
# initialize date iterators
year_list = [year for year in range(1989, 2020)]
month_dict = {1 : (1, 32), 2 : [(1, 29), (1, 30)], 3 : (1, 32), 4 : (1, 31), 5 : (1, 32)}

In [4]:
# make list of dates for API query
query_dates = []
for year in year_list:
    for month in month_dict:
        start_day = month_dict[month][0]
        end_day = month_dict[month][1]
        if month == 2:
            start_day = month_dict[month][0][0] # Feb 1 is always start day
            if year % 4 == 0: # leap year
                end_day = month_dict[month][1][1] # Feb 29 is end day if leap year
            else:
                end_day = month_dict[month][0][1]
        for day in range(start_day, end_day):
            query_dates.append(dt.date(year, month, day).isoformat())

In [5]:
query_dates[-5:]

['2019-05-27', '2019-05-28', '2019-05-29', '2019-05-30', '2019-05-31']

In [6]:
len(query_dates)

4688

In [7]:
# delete unneeded variables and collect garbage
del year_list, month_dict
gc.collect()

5

In [8]:
#initialize weather_data dict
weather_data = {}

In [9]:
# define variable for Nenana, Alaska lat & long
nenana_coords = '64.558056,-149.090556'

In [10]:
# test API call
response = requests.get(f'https://api.darksky.net/forecast/{api_key}/{nenana_coords},2009-04-02T23:59:59?exclude=currently,hourly,minutely,alerts,flags')
response.json()

{'latitude': 64.558056,
 'longitude': -149.090556,
 'timezone': 'America/Anchorage',
 'daily': {'data': [{'time': 1238659200,
    'summary': 'Partly cloudy throughout the day.',
    'icon': 'partly-cloudy-day',
    'sunriseTime': 1238684940,
    'sunsetTime': 1238734380,
    'moonPhase': 0.27,
    'precipIntensity': 0,
    'precipIntensityMax': 0,
    'precipProbability': 0,
    'temperatureHigh': 24.25,
    'temperatureHighTime': 1238725380,
    'temperatureLow': -7.03,
    'temperatureLowTime': 1238773200,
    'apparentTemperatureHigh': 18.23,
    'apparentTemperatureHighTime': 1238727600,
    'apparentTemperatureLow': -6.54,
    'apparentTemperatureLowTime': 1238773200,
    'dewPoint': -5.47,
    'humidity': 0.58,
    'pressure': 1019.5,
    'windSpeed': 3.44,
    'windGust': 11.84,
    'windGustTime': 1238706420,
    'windBearing': 76,
    'cloudCover': 0.39,
    'uvIndex': 2,
    'uvIndexTime': 1238706240,
    'visibility': 9.997,
    'temperatureMin': -13.76,
    'temperatureMinTime': 1238681580,
    'temperatureMax': 24.25,
    'temperatureMaxTime': 1238725380,
    'apparentTemperatureMin': -13.27,
    'apparentTemperatureMinTime': 1238681580,
    'apparentTemperatureMax': 19.78,
    'apparentTemperatureMaxTime': 1238734920}]},
 'offset': -8}

In [11]:
#get weather data from DarkSky for dates in query_dates
# started at 11:48 AM
for date in query_dates:
    response = requests.get(f'https://api.darksky.net/forecast/{api_key}/{nenana_coords},{date}T23:59:59?exclude=currently,hourly,minutely,alerts,flags')
    if response.status_code == requests.codes.ok:
        weather_data[date] = response.json()
    else:
        print('Status returned: ' + str(response.status_code) + ' for date: ' + date)
        continue

In [12]:
len(weather_data)

4688

In [13]:
# save weather data as a json file so I don't lose it when restarting the kernel
with open('../data/weather_data_1989-2020.json', 'w') as fp:
    json.dump(weather_data, fp)

In [ ]:
# read weather data from json file
with open('../data/weather_data_1989-2020.json', 'r') as fp:
    weather_data = json.load(fp)
weather_data['2019-05-31']

In [14]:
query_dates[0]

'1989-01-01'

In [15]:
len(weather_data)

4688

In [16]:
weather_data['1989-04-07']

{'latitude': 64.558056,
 'longitude': -149.090556,
 'timezone': 'America/Anchorage',
 'offset': -8}

In [17]:
weather_dict = {}
missing_daily_data = []
for k in weather_data:
    if 'daily' in weather_data[k]:
        weather_dict[k] = weather_data[k]['daily']['data'][0]
    else:
        missing_daily_data.append(k)

In [18]:
print('weather dict length:', len(weather_dict), '\n# of missing entries:', len(missing_daily_data))

weather dict length: 4456
# of missing entries: 232

In [19]:
missing_daily_data

['1989-04-07',
 '1989-04-14',
 '1989-04-15',
 '1989-04-16',
 '1989-04-18',
 '1989-04-19',
 '1989-04-20',
 '1989-04-21',
 '1989-04-22',
 '1989-04-23',
 '1989-04-24',
 '1989-04-26',
 '1990-05-12',
 '1990-05-13',
 '1991-01-09',
 '1991-01-18',
 '1991-01-20',
 '1991-01-21',
 '1991-02-03',
 '1991-03-31',
 '1991-04-04',
 '1991-04-26',
 '1992-01-27',
 '1992-01-30',
 '1992-02-01',
 '1992-02-10',
 '1992-02-18',
 '1992-02-19',
 '1992-02-20',
 '1992-02-21',
 '1992-03-01',
 '1993-03-23',
 '1993-03-24',
 '1994-01-31',
 '1994-02-01',
 '1994-05-06',
 '1995-03-29',
 '1995-03-30',
 '1995-03-31',
 '1995-04-01',
 '1995-04-02',
 '1995-04-03',
 '1995-04-04',
 '1995-04-06',
 '1995-04-07',
 '1995-04-08',
 '1995-04-09',
 '1995-04-10',
 '1995-04-11',
 '1995-04-13',
 '1995-04-14',
 '1995-04-16',
 '1995-04-17',
 '1995-04-18',
 '1995-04-19',
 '1995-04-20',
 '1995-04-21',
 '1995-04-22',
 '1995-04-23',
 '1995-04-24',
 '1995-04-25',
 '1995-04-26',
 '1995-04-27',
 '1995-04-28',
 '1995-04-29',
 '1995-04-30',
 '1995-05-01',
 '1995-05-02',
 '1995-05-03',
 '1995-05-04',
 '1995-05-05',
 '1995-05-06',
 '1995-05-07',
 '1995-05-08',
 '1995-05-09',
 '1995-05-10',
 '1995-05-11',
 '1995-05-12',
 '1995-05-13',
 '1995-05-14',
 '1995-05-17',
 '1995-05-19',
 '1995-05-20',
 '1995-05-21',
 '1995-05-22',
 '1995-05-23',
 '1995-05-25',
 '1995-05-26',
 '1995-05-27',
 '1995-05-28',
 '1995-05-29',
 '1995-05-30',
 '1996-01-01',
 '1996-01-02',
 '1996-01-03',
 '1996-01-04',
 '1996-01-05',
 '1996-01-06',
 '1996-01-07',
 '1996-01-08',
 '1996-01-09',
 '1996-01-10',
 '1996-01-12',
 '1996-01-26',
 '1996-01-27',
 '1996-01-29',
 '1996-01-30',
 '1996-02-01',
 '1996-02-02',
 '1996-02-03',
 '1996-02-04',
 '1996-02-05',
 '1996-02-07',
 '1996-02-08',
 '1996-02-09',
 '1996-02-10',
 '1996-02-11',
 '1996-02-12',
 '1996-02-14',
 '1996-02-16',
 '1996-02-17',
 '1996-02-19',
 '1996-02-21',
 '1996-02-22',
 '1996-02-23',
 '1996-02-25',
 '1996-02-27',
 '1996-02-28',
 '1996-02-29',
 '1996-03-01',
 '1996-03-02',
 '1996-03-03',
 '1996-03-05',
 '1996-03-06',
 '1996-03-07',
 '1996-03-08',
 '1996-03-10',
 '1996-03-11',
 '1996-03-12',
 '1996-03-13',
 '1996-03-14',
 '1996-03-15',
 '1996-03-16',
 '1996-03-17',
 '1996-03-18',
 '1996-03-22',
 '1996-03-23',
 '1996-03-24',
 '1996-03-25',
 '1996-03-27',
 '1996-03-28',
 '1996-03-31',
 '1996-04-01',
 '1996-04-02',
 '1996-04-03',
 '1996-04-05',
 '1996-04-06',
 '1996-04-07',
 '1996-04-08',
 '1996-04-09',
 '1996-04-10',
 '1996-04-11',
 '1996-04-12',
 '1996-04-14',
 '1996-04-15',
 '1996-04-16',
 '1996-04-17',
 '1996-04-18',
 '1996-04-19',
 '1996-04-21',
 '1996-04-22',
 '1996-04-23',
 '1996-04-24',
 '1996-04-25',
 '1996-04-27',
 '1996-04-28',
 '1998-01-09',
 '1998-01-11',
 '1998-01-12',
 '1999-04-01',
 '1999-04-05',
 '1999-04-15',
 '1999-04-16',
 '1999-04-17',
 '1999-04-18',
 '1999-04-19',
 '1999-04-20',
 '1999-04-21',
 '1999-04-22',
 '1999-04-23',
 '1999-04-24',
 '1999-04-25',
 '1999-04-26',
 '1999-04-27',
 '1999-04-28',
 '1999-04-29',
 '1999-04-30',
 '1999-05-01',
 '1999-05-02',
 '1999-05-03',
 '1999-05-04',
 '1999-05-05',
 '1999-05-06',
 '1999-05-07',
 '1999-05-08',
 '1999-05-09',
 '1999-05-10',
 '2002-02-14',
 '2002-02-21',
 '2002-02-27',
 '2002-02-28',
 '2002-03-01',
 '2002-03-04',
 '2002-03-28',
 '2002-03-29',
 '2002-03-30',
 '2002-03-31',
 '2003-03-22',
 '2003-03-23',
 '2003-03-24',
 '2003-03-25',
 '2003-03-26',
 '2003-03-27',
 '2003-03-28',
 '2003-03-29',
 '2003-03-30',
 '2003-03-31',
 '2003-04-01',
 '2003-04-02',
 '2003-04-03',
 '2003-04-04',
 '2003-04-06']

In [24]:
# verify data is missing at DarkSky, not locally
for date in missing_daily_data:
    response = requests.get(f'https://api.darksky.net/forecast/{api_key}/{nenana_coords},{date}T23:59:59?exclude=currently,hourly,minutely,alerts,flags')
    if response.status_code == requests.codes.ok:
        weather_data[date] = response.json()
    else:
        print('Status returned: ' + str(response.status_code) + ' for date: ' + date)
        continue

In [25]:
missing_daily_data = []
for k in weather_data:
    if 'daily' in weather_data[k]:
        weather_dict[k] = weather_data[k]['daily']['data'][0]
    else:
        missing_daily_data.append(k)

In [26]:
print('weather dict length:', len(weather_dict), '\n# of missing entries:', len(missing_daily_data))

weather dict length: 4456
# of missing entries: 232

In [27]:
missing_daily_data

['1989-04-07',
 '1989-04-14',
 '1989-04-15',
 '1989-04-16',
 '1989-04-18',
 '1989-04-19',
 '1989-04-20',
 '1989-04-21',
 '1989-04-22',
 '1989-04-23',
 '1989-04-24',
 '1989-04-26',
 '1990-05-12',
 '1990-05-13',
 '1991-01-09',
 '1991-01-18',
 '1991-01-20',
 '1991-01-21',
 '1991-02-03',
 '1991-03-31',
 '1991-04-04',
 '1991-04-26',
 '1992-01-27',
 '1992-01-30',
 '1992-02-01',
 '1992-02-10',
 '1992-02-18',
 '1992-02-19',
 '1992-02-20',
 '1992-02-21',
 '1992-03-01',
 '1993-03-23',
 '1993-03-24',
 '1994-01-31',
 '1994-02-01',
 '1994-05-06',
 '1995-03-29',
 '1995-03-30',
 '1995-03-31',
 '1995-04-01',
 '1995-04-02',
 '1995-04-03',
 '1995-04-04',
 '1995-04-06',
 '1995-04-07',
 '1995-04-08',
 '1995-04-09',
 '1995-04-10',
 '1995-04-11',
 '1995-04-13',
 '1995-04-14',
 '1995-04-16',
 '1995-04-17',
 '1995-04-18',
 '1995-04-19',
 '1995-04-20',
 '1995-04-21',
 '1995-04-22',
 '1995-04-23',
 '1995-04-24',
 '1995-04-25',
 '1995-04-26',
 '1995-04-27',
 '1995-04-28',
 '1995-04-29',
 '1995-04-30',
 '1995-05-01',
 '1995-05-02',
 '1995-05-03',
 '1995-05-04',
 '1995-05-05',
 '1995-05-06',
 '1995-05-07',
 '1995-05-08',
 '1995-05-09',
 '1995-05-10',
 '1995-05-11',
 '1995-05-12',
 '1995-05-13',
 '1995-05-14',
 '1995-05-17',
 '1995-05-19',
 '1995-05-20',
 '1995-05-21',
 '1995-05-22',
 '1995-05-23',
 '1995-05-25',
 '1995-05-26',
 '1995-05-27',
 '1995-05-28',
 '1995-05-29',
 '1995-05-30',
 '1996-01-01',
 '1996-01-02',
 '1996-01-03',
 '1996-01-04',
 '1996-01-05',
 '1996-01-06',
 '1996-01-07',
 '1996-01-08',
 '1996-01-09',
 '1996-01-10',
 '1996-01-12',
 '1996-01-26',
 '1996-01-27',
 '1996-01-29',
 '1996-01-30',
 '1996-02-01',
 '1996-02-02',
 '1996-02-03',
 '1996-02-04',
 '1996-02-05',
 '1996-02-07',
 '1996-02-08',
 '1996-02-09',
 '1996-02-10',
 '1996-02-11',
 '1996-02-12',
 '1996-02-14',
 '1996-02-16',
 '1996-02-17',
 '1996-02-19',
 '1996-02-21',
 '1996-02-22',
 '1996-02-23',
 '1996-02-25',
 '1996-02-27',
 '1996-02-28',
 '1996-02-29',
 '1996-03-01',
 '1996-03-02',
 '1996-03-03',
 '1996-03-05',
 '1996-03-06',
 '1996-03-07',
 '1996-03-08',
 '1996-03-10',
 '1996-03-11',
 '1996-03-12',
 '1996-03-13',
 '1996-03-14',
 '1996-03-15',
 '1996-03-16',
 '1996-03-17',
 '1996-03-18',
 '1996-03-22',
 '1996-03-23',
 '1996-03-24',
 '1996-03-25',
 '1996-03-27',
 '1996-03-28',
 '1996-03-31',
 '1996-04-01',
 '1996-04-02',
 '1996-04-03',
 '1996-04-05',
 '1996-04-06',
 '1996-04-07',
 '1996-04-08',
 '1996-04-09',
 '1996-04-10',
 '1996-04-11',
 '1996-04-12',
 '1996-04-14',
 '1996-04-15',
 '1996-04-16',
 '1996-04-17',
 '1996-04-18',
 '1996-04-19',
 '1996-04-21',
 '1996-04-22',
 '1996-04-23',
 '1996-04-24',
 '1996-04-25',
 '1996-04-27',
 '1996-04-28',
 '1998-01-09',
 '1998-01-11',
 '1998-01-12',
 '1999-04-01',
 '1999-04-05',
 '1999-04-15',
 '1999-04-16',
 '1999-04-17',
 '1999-04-18',
 '1999-04-19',
 '1999-04-20',
 '1999-04-21',
 '1999-04-22',
 '1999-04-23',
 '1999-04-24',
 '1999-04-25',
 '1999-04-26',
 '1999-04-27',
 '1999-04-28',
 '1999-04-29',
 '1999-04-30',
 '1999-05-01',
 '1999-05-02',
 '1999-05-03',
 '1999-05-04',
 '1999-05-05',
 '1999-05-06',
 '1999-05-07',
 '1999-05-08',
 '1999-05-09',
 '1999-05-10',
 '2002-02-14',
 '2002-02-21',
 '2002-02-27',
 '2002-02-28',
 '2002-03-01',
 '2002-03-04',
 '2002-03-28',
 '2002-03-29',
 '2002-03-30',
 '2002-03-31',
 '2003-03-22',
 '2003-03-23',
 '2003-03-24',
 '2003-03-25',
 '2003-03-26',
 '2003-03-27',
 '2003-03-28',
 '2003-03-29',
 '2003-03-30',
 '2003-03-31',
 '2003-04-01',
 '2003-04-02',
 '2003-04-03',
 '2003-04-04',
 '2003-04-06']

In [28]:
weather_df = pd.DataFrame.from_dict(weather_dict).T

In [29]:
weather_df.head()

,time,sunriseTime,sunsetTime,moonPhase,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,apparentTemperatureHigh,apparentTemperatureHighTime,...,precipIntensity,precipIntensityMax,precipIntensityMaxTime,precipAccumulation,windGust,windGustTime,icon,precipProbability,summary,ozone
1989-01-01,5.99648e+08,5.99688e+08,5.99703e+08,0.81,15.77,5.99674e+08,10.7,5.99717e+08,13.85,5.99701e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989-01-02,5.99735e+08,5.99774e+08,5.99789e+08,0.84,17.8,5.99789e+08,-10.28,5.99842e+08,15.37,5.99778e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989-01-03,5.99821e+08,5.9986e+08,5.99876e+08,0.88,4.69,5.99879e+08,-16.58,5.99912e+08,3.28,5.99886e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989-01-04,5.99908e+08,5.99947e+08,5.99962e+08,0.91,7.67,5.9994e+08,2.57,6.00009e+08,0.52,5.9994e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989-01-05,5.99994e+08,6.00033e+08,6.00049e+08,0.94,14.7,6.00059e+08,10.64,6.00063e+08,5.23,6.00059e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
weather_df.shape

(4456, 40)

In [31]:
weather_df.to_csv('../data/raw_weather_1989-2020.csv', index_label = 'Date')